<h2>Data & Script</h2>
<p>Here is the list of data and analysis scripts we make publicly available.</p>

<h2>Projects</h2>
<ul>
  <li><a href="https://cogneuro.github.io/FamSM">Familiarity & Source Memory</a></li>
  <li>Responsive design</li>
  <li>Mobile friendly</li>
</ul>

<p>For more information, including setup and configuration instructions, bug reports or feature requests head over to <a href="https://github.com/excentris/compass">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/cogneuro">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-home fa-lg main-list-item-icon"></span>
    <a href="http://cogneuro.or.kr">Lab website</a>
  </li>
</ul>
