<h2>Data & Script</h2>
<p>Below is the list of our projects, for which we make data and analysis scripts publicly available.</p>

<h2>Projects</h2>
<ul>
  <li><a href="https://cogneuro.github.io/FamSM">Lee, Kim, & Yi (2020, JEP:LMC)</a></li>
  <li>TBA</li>
  <li>TBA</li>
</ul>

<p>This page is under construction.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/cogneuro">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-home fa-lg main-list-item-icon"></span>
    <a href="http://cogneuro.or.kr">Lab Homepage</a>
  </li>
</ul>
